*
{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.NavBar
{
  height: 50px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
}

.NavLinkContainer
{
  padding-top: 20px;
}

.Link
{
  text-decoration: none;
  color: rgb(16, 10, 130);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  /* background-color: crimson; */
  font-weight:600;
  transition: background-color 0.3s;
}

.Link:hover
{
  background-color: rgb(7, 98, 158);
  color: rgb(157, 190, 252);
}

body{
  background-color: beige;
}

.NavIcon 
{
  /* box-shadow: 2px 2px 3px black; */
  padding-right: 10px;
  padding-left: 10px;
}



